<!DOCTYPE html>
<html lang="en" ng-app="MovieBooking">

<head>

    <meta charset="UTF-8">

    <title>Movies</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

    <script src="js/app.js"></script>

    <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="bookingController">

<nav>

<h2>{{appName}}</h2>

<ul>

<li><a href="index.html">Home</a></li>

<li>Movies</li>

<li>Seats</li>

<li>Booking</li>

</ul>

</nav>

<h1 class="page-title">Now Showing</h1>

<div class="movie-container">

    <div class="movie-card"
         ng-repeat="movie in movies"
         ng-class="{'selected-card': selectedMovie == movie}">

        <img src="https://placehold.co/250x350?text=Movie+Poster">

        <h2>{{movie.name | uppercase}}</h2>

        <p><strong>Genre:</strong> {{movie.genre}}</p>

        <p><strong>Language:</strong> {{movie.language}}</p>

        <p><strong>Duration:</strong> {{movie.duration}}</p>

        <p><strong>Show:</strong> {{movie.show}}</p>

        <p><strong>Price:</strong> {{movie.price | currency:'₹'}}</p>

        <button ng-click="selectMovie(movie)">
            Select Movie
        </button>

    </div>

</div>

<!-- Selected Movie -->
<div class="selected-movie" ng-show="selectedMovie">

    <h2>🎬 Selected Movie</h2>

    <p><strong>Name:</strong> {{selectedMovie.name}}</p>

    <p><strong>Show:</strong> {{selectedMovie.show}}</p>

    <p><strong>Ticket Price:</strong> {{selectedMovie.price | currency:'₹'}}</p>

    <br>

    <a href="seats.html">
        <button>Continue to Seat Selection</button>
    </a>

</div>

</body>

</html>